
.boxtxt-min{
    padding: 0px 0px 100px 0px ;
}
h2,h6{
    color: white !important;
}
.box-title{
    text-align: center;
    padding: 50px 0px 50px 0px;
}
.boxgroupone{
    background: #140c1c;
    padding: 20px ;
    border-radius: 8px;
    text-align: justify;
    transition: all 0.6ms ease ;
    margin: 10px 0px 10px 0px;
}
p{
    font-size: 50%;
}
.boxgroupone:hover{
    border: 2px solid rgba(129, 76, 236, 0.15) ;
}
