.container{
  
    margin: 50px;
}
button{
    width: 100%;
    border: none;
    background-color: #140c1c;
    color: white;
}
.txtboxone{
    background-color: #140c1c;
    color: white;
}
.col-12{
    margin: 10px;
}